<h1>We have following branches throughout the world:</h1>

<ul>
    <li>
        <a (click)="setContactDetail('Code Studio: India')" [routerLink]="['/', { outlets: { primary: ['contact'],sidebar: ['contact'] } }]">
            <span>Code Studio: India</span>  <br />
            Dermis India J-2319, Saket New Delhi -910017. PHONE: 981002129814. EMAIL: info@india.com.
        </a>
    </li>
    <li>
        <a (click)="setContactDetail('Code Studio: Mississippi')"[routerLink]="['/', { outlets: { primary: ['contact'],sidebar: ['contact'] } }]">
            <span>Code Studio: Mississippi </span> <br />
            Cecilia Chapman 711-2880 Nulla St. <br />Mankato Mississippi
        </a>
    </li>
    <li>
        <a (click)="setContactDetail('Code Studio: Dothan')"[routerLink]="['/', { outlets: { primary: ['contact'],sidebar: ['contact'] } }]">
            <span>Code Studio: Dothan  </span><br />
            969 Us Hwy 80 West, Demopolis AL 36732. <br />
            3300 South Oates Street, Dothan AL 36301. <br />
            4310 Montgomery Hwy, Dothan AL 36303. 600 Boll Weevil Circle
        </a>
    </li>

    

    
</ul>